.empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .empty-container p {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  