.courses-app {
  padding: 24px;
  .common {
    display: flex;
    gap: 20px;
    height: calc(100vh - 48px);

    .sidebar {
      width: 100%;
      max-width: 264px;
      height: fit-content;
      padding: 12px;
      border: 1px solid #cfcfe4;
      border-radius: 18px;
    }
    .main {
      width: 100%;
    }
  }
}
